<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增可配置资源信息')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-res-add">
        	<input name="parentId" type="hidden" th:value="${portaletRes.id}" />
        	<input name="cnName" type="hidden">
        	<input name="resType" type="hidden" th:value="${portaletRes.resType}">
            <div class="form-group" th:style="'display:' + @{(${portaletRes.resType == 'sys'} ? 'block' : 'none')}">    
                <label class="col-sm-3 control-label">系统编码：</label>
                <div class="col-sm-8">
                    <input name="systemCode" th:value="${portaletRes.systemCode}" class="form-control" type="text" th:required="${portaletRes.resType == 'sys'}">
                </div>
            </div>
            <div class="form-group" th:style="'display:' + @{(${portaletRes.resType == 'sys'} ? 'block' : 'none')}">    
                <label class="col-sm-3 control-label">系统名称：</label>
                <div class="col-sm-8">
                    <input name="systemName" th:value="${portaletRes.systemName}" class="form-control" type="text" th:required="${portaletRes.resType == 'sys'}">
                </div>
            </div>
            <div class="form-group" th:style="'display:' + @{(${portaletRes.resType == 'module'} ? 'block' : 'none')}">    
                <label class="col-sm-3 control-label">模块编码：</label>
                <div class="col-sm-8">
                    <input name="moduleCode" th:value="${portaletRes.moduleCode}" class="form-control" type="text" th:required="${portaletRes.resType == 'module'}">
                </div>
            </div>
            <div class="form-group" th:style="'display:' + @{(${portaletRes.resType == 'module'} ? 'block' : 'none')}">    
                <label class="col-sm-3 control-label">模块名称：</label>
                <div class="col-sm-8">
                    <input name="moduleName" th:value="${portaletRes.moduleName}" class="form-control" type="text" th:required="${portaletRes.resType == 'module'}">
                </div>
            </div>
            <div class="form-group" th:style="'display:' + @{(${portaletRes.resType == 'res'} ? 'block' : 'none')}">    
                <label class="col-sm-3 control-label">资源名称：</label>
                <div class="col-sm-8">
                    <input name="resName" class="form-control" type="text" th:required="${portaletRes.resType == 'res'}">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">资源类型：</label>
                <div class="col-sm-8">
				    <div class="radio-box" th:each="dict : ${@dict.getType('sys_portalet_resType')}">
						<input type="radio" th:id="${dict.dictCode}" name="mineResType" th:value="${dict.dictValue}" th:field="${portaletRes.resType}" disabled>
						<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
					</div>
				</div>
            </div>
            <div class="form-group" th:style="'display:' + @{(${portaletRes.resType == 'res'} ? 'block' : 'none')}">    
                <label class="col-sm-3 control-label">url：</label>
                <div class="col-sm-8">
                    <input name="url" class="form-control" type="text">
                </div>
            </div>            
            <div class="form-group" th:style="'display:' + @{(${portaletRes.resType == 'res'} ? 'block' : 'none')}">    
                <label class="col-sm-3 control-label">宽：</label>
                <div class="col-sm-8">
                    <input name="width" value="350" class="form-control" type="text" th:required="${portaletRes.resType == 'res'}">
                </div>
            </div>
            <div class="form-group" th:style="'display:' + @{(${portaletRes.resType == 'res'} ? 'block' : 'none')}">    
                <label class="col-sm-3 control-label">高：</label>
                <div class="col-sm-8">
                    <input name="height" value="200" class="form-control" type="text" th:required="${portaletRes.resType == 'res'}">
                </div>
            </div>
            <div class="form-group" th:style="'display:' + @{(${portaletRes.resType == 'res'} ? 'block' : 'none')}">    
                <label class="col-sm-3 control-label">视图Code：</label>
                <div class="col-sm-8">
                    <input name="queryportId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">显示顺序：</label>
                <div class="col-sm-8">
                    <input name="sortNo" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
				    <div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
						<input type="radio" th:id="${dict.dictCode}" name="deleted" th:value="${dict.dictValue}" th:checked="${dict.default}">
						<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
					</div>
				</div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/portalet/res"
        $("#form-res-add").validate({
            focusCleanup: true,
            rules: {
            	width: {digits: true},
                height: {digits: true},
                queryportId: {digits: true}   
            }
        });

        function submitHandler() {
            if ($.validate.form()) {
            	if('[[${portaletRes.resType}]]' == 'sys'){
            		$("input[name='cnName']").val($("input[name='systemName']").val());
            	} else if('[[${portaletRes.resType}]]' == 'module'){
            		$("input[name='cnName']").val($("input[name='moduleName']").val());
            	} else if('[[${portaletRes.resType}]]' == 'res'){
            		$("input[name='cnName']").val($("input[name='resName']").val());
            	}
                $.operate.save(prefix + "/add", $('#form-res-add').serialize());
            }
        }
    </script>
</body>
</html>