<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改标签')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-label-edit" th:object="${sysFactoryLabel}">
            <input name="lableId" th:field="*{lableId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">标签编码：</label>
                <div class="col-sm-8">
                    <input name="lableCode" th:field="*{lableCode}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">标签名称：</label>
                <div class="col-sm-8">
                    <input name="lableName" th:field="*{lableName}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">显示顺序：</label>
                <div class="col-sm-8">
                    <input name="lableSort" th:field="*{lableSort}" class="form-control" type="text" required>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/factory/label";
        $("#form-label-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-label-edit').serialize());
            }
        }
    </script>
</body>
</html>