.ibox-title h5 {

    font-weight: 600;
}
#sortable li a {
    font-size: 10px !important;
}
.container-div {
    padding: 0px 5px 0px 5px !important;
}
.search-collapse, .select-table {
    margin-top: -10px !important;
    box-shadow: 1px 1px 3px rgba(0,0,0,0) !important;
}
.fixed-table-container tbody td .th-inner, .fixed-table-container thead th .th-inner {
    font-size: 10px !important;
    font-weight: 600 !important;
}

.bootstrap-table .table:not(.table-condensed), .bootstrap-table .table:not(.table-condensed)>tbody>tr>td, .bootstrap-table .table:not(.table-condensed)>tbody>tr>th, .bootstrap-table .table:not(.table-condensed)>tfoot>tr>td, .bootstrap-table .table:not(.table-condensed)>tfoot>tr>th, .bootstrap-table .table:not(.table-condensed)>thead>tr>td {
    font-size: 10px !important;
}