<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('短信模板配置列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>模板名称：</p>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <p>模板内容：</p>
                                <input type="text" name="template"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:sms:template:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:sms:template:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:sms:template:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:sms:template:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
                 <a class="btn btn-primary single disabled" onclick="triyConfig();" shiro:hasPermission="system:sms:template:edit">
                    <i class="fa fa-edit"></i> 测试
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" ></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:sms:template:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:sms:template:remove')}]];
        var prefix = ctx + "system/sms/template";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "短信模板配置",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '主键ID',
                    visible: false
                },
                {
                    field : 'name', 
                    title : '模板名称'
                },
                {
                    field : 'template', 
                    title : '模板内容'
                },
                {
                    field : 'remark', 
                    title : '备注'
                },
                {
                    field : 'createByName', 
                    title : '创建人姓名'
                },
                {
                    field : 'createByDeptid', 
                    title : '创建人部门ID',
                    visible: false
                },
                {
                    field : 'createByDeptname', 
                    title : '创建人部门名称'
                },
                {
                    field : 'updateByName', 
                    title : '更新人姓名',
                    visible: false
                },
                {
                    field : 'updateByDeptid', 
                    title : '修改人部门ID',
                    visible: false
                },
                {
                    field : 'updateByDeptname', 
                    title : '修改人部门名称',
                    visible: false
                },
                {
                    field : 'deleted', 
                    title : '逻辑删除:1删除,0:未删除',
                    visible: false
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>