<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Viewport metatags -->
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" type="text/css" th:href="@{/error/404/404_01/css/dandelion.css}"  media="screen" />

    <title>404</title>

</head>

<body>

<!-- Main Wrapper. Set this to 'fixed' for fixed layout and 'fluid' for fluid layout' -->
<div id="da-wrapper" class="fluid">

    <!-- Content -->
    <div id="da-content">

        <!-- Container -->
        <div class="da-container clearfix">

            <div id="da-error-wrapper">

                <div id="da-error-pin"></div>
                <div id="da-error-code">
                    error <span>404</span>                    </div>

                <h1 class="da-error-heading">哎哟喂！页面让狗狗叼走了！</h1>
                <p>大家可以到狗狗没有叼过的地方看看！</p><p>     <a href="" class="btn btn-primary m-t" id="topUrl" >首页</a></p>
            </div>
        </div>
    </div>

</div>

<SCRIPT type=text/javascript>
    var contenxt = window.location.href.split(/\//g)[3];
    document.getElementById("topUrl").setAttribute("href", "javascript:top.document.location.href='/"+contenxt+"'");

</SCRIPT>
</body>
</html>
