<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://www.catfish-cms.com/public/common/images/favicon.ico">
    <title>404页面</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/error/404/404_04/style.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row pad-top text-center">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h2>  您访问的页面出去玩了! </h2>
            <h5> 您访问的页面不存在，请点击页底的链接返回</h5>
            <span id="error-link">404</span>
            <h2>! 访问出错 !</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-8 col-md-offset-2">
            <div class="bigfont">
                <span class="glyphicon"></span>
            </div>
            <a href="" class="btn btn-primary m-t" id="topUrl" >首页</a><br><br>
        </div>
    </div>
</div>
<script th:src="@{/error/404/404_04/jquery.min.js}"></script>
<script th:src="@{/error/404/404_04/countUp.js}"></script>
<script th:src="@{/error/404/404_04/custom.js}"></script>
<SCRIPT type=text/javascript>

    var contenxt = window.location.href.split(/\//g)[3];
    document.getElementById("topUrl").setAttribute("href", "javascript:top.document.location.href='/"+contenxt+"'");

</SCRIPT>

</body></html>