<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsh.system.mapper.CacheMapper">
    
    <select id="getAllName" resultType="hashMap" parameterType="String">
      select ${idCol} id,${nameCol} name from ${table} where 1=1
        <if test="condition != null  and condition != ''"> ${condition} </if>
    </select>


</mapper>