<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsh.system.mapper.SysAreaMapper">
    
    <resultMap type="SysArea" id="SysAreaResult">
        <result property="areaId"    column="area_id"    />
        <result property="areaName"    column="area_name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="orderNum"    column="order_num"    />
        <result property="areaLevel"    column="areaLevel"    />
        <result property="ancestors"    column="ancestors"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="parentName" column="parent_name" />
    </resultMap>

    <sql id="selectSysAreaVo">
        select area_id, area_name, parent_id, order_num, areaLevel,ancestors, create_by, create_time, update_by, update_time from sys_area
    </sql>

    <select id="selectSysAreaList" parameterType="SysArea" resultMap="SysAreaResult">
        <include refid="selectSysAreaVo"/>
        <where>  
            <if test="areaId != null "> and area_id = #{areaId}</if>
            <if test="areaName != null  and areaName != ''"> and area_name like concat('%', #{areaName}, '%')</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
        </where>
        order by parent_id,order_num
    </select>
    <select id="checkAreaNameUnique" parameterType="SysArea" resultMap="SysAreaResult">
        <include refid="selectSysAreaVo"/>
        <where>
            <if test="areaName != null  and areaName != ''"> and area_name like concat('%', #{areaName}, '%')</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
        </where>
        order by parent_id
    </select>

    <select id="selectSysAreaById" parameterType="Long" resultMap="SysAreaResult">
        select t.area_id, t.area_name, t.parent_id, t.order_num,  t.areaLevel,t.ancestors, t.create_by, t.create_time, t.update_by, t.update_time, p.area_name as parent_name
        from sys_area t
        left join sys_area p on p.area_id = t.parent_id
        where t.area_id = #{areaId}
    </select>
        
    <insert id="insertSysArea" parameterType="SysArea" useGeneratedKeys="true" keyProperty="areaId">
        insert into sys_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="areaName != null  and areaName != ''">area_name,</if>
            <if test="parentId != null ">parent_id,</if>
            <if test="orderNum != null ">order_num,</if>
            <if test="ancestors != null  and ancestors != ''">ancestors,</if>
            <if test="areaLevel != null  and areaLevel != ''">areaLevel,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="areaName != null  and areaName != ''">#{areaName},</if>
            <if test="parentId != null ">#{parentId},</if>
            <if test="orderNum != null ">#{orderNum},</if>
            <if test="ancestors != null  and ancestors != ''">#{ancestors},</if>
            <if test="areaLevel != null  and areaLevel != ''">#{areaLevel},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysArea" parameterType="SysArea">
        update sys_area
        <trim prefix="SET" suffixOverrides=",">
            <if test="areaName != null  and areaName != ''">area_name = #{areaName},</if>
            <if test="parentId != null ">parent_id = #{parentId},</if>
            <if test="orderNum != null ">order_num = #{orderNum},</if>
            <if test="ancestors != null  and ancestors != ''">ancestors = #{ancestors},</if>
            <if test="areaLevel != null  and areaLevel != ''">areaLevel = #{areaLevel},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where area_id = #{areaId}
    </update>

    <delete id="deleteSysAreaById" parameterType="Long">
        delete from sys_area where parent_id = #{areaId};
        delete from sys_area where area_id = #{areaId};
    </delete>

    <delete id="deleteSysAreaByIds" parameterType="String">
        delete from sys_area where area_id in 
        <foreach item="areaId" collection="array" open="(" separator="," close=")">
            #{areaId}
        </foreach>
    </delete>
    
</mapper>